<div>
	<nav class="main-navbar">
		<div class="container cental-container">
			<!--<div class="logo">-->
				<div class="logo-title central-item">Angular 2 Mentoring course - Task 1</div>
				<!--<div class="logo-sub-title">You will make it in time</div>-->
			<!--</div>-->
			<!--<div class="menu">
				<div class="menu-item" [routerLink]="'home'" routerLinkActive="active">Home</div>
				<div class="menu-item" [routerLink]="'pageone'" routerLinkActive="active">Page 1</div>
				<div class="menu-item" [routerLink]="'pagetwo'" routerLinkActive="active">Page 2</div>
			</div>-->
		</div>
	</nav>
	<div class="container">
		<form class="form-group">
			<label for="exampleInputEmail1" class="row form-title">Course action panel</label>
			<div class="form-inline row">
				<input type="text" class="form-control col-md-4" id="exampleInputEmail2" placeholder="Course name of Date">
				<input type="button" class="btn btn-primary btn-offset" value="Find">
				<input type="button" class="btn btn-primary btn-offset" value="Add course">
			</div>
		</form>
	</div>
</div>
